  <!--======================================
    Media Section
    ==========================================-->
    <section id="section_7" class="media_section">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-8">
              <div class="section_head_widget animatedParent">
                <h2 class="animated fadeInLeft">poison Media</h2>
                <h5 class="animated bounceInUp">photos &amp; videos</h5>
              </div>
            </div>
            <div class="col-xs-12 col-sm-4 text-right">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    2014 <span class="fa fa-caret-down"></span>
                  </button>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">2013</a></li>
                    <li><a href="#">2012</a></li>
                    <li><a href="#">2011</a></li>
                  </ul>
                </div>
            </div>
            <!--section_head_widget--> 
          </div>
          <!--row-->
          
          <div class="row media_widget">
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp"> 
              	<a href="#" data-toggle="modal" data-target="#gal_pop">
                	<img src="img/media_01.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>Behind the scenes</h6>
                  25 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp"> 
              	<a href="#" data-toggle="modal" data-target="#gal_pop2">
                	<img src="img/media_02.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>poison in news</h6>
                  35 photos 
                </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp">  
              	<a href="#" data-toggle="modal" data-target="#gal_pop3">
                	<img src="img/media_03.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>paris live concert</h6>
                  105 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp">
              	<a href="#" data-toggle="modal" data-target="#gal_pop4">
                	<img src="img/media_04.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>poison in news</h6>
                  95 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp"> 
              	<a href="#" data-toggle="modal" data-target="#gal_pop5">
                	<img src="img/media_05.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>photos by fans</h6>
                  70 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp"> 
              	<a href="#" data-toggle="modal" data-target="#gal_pop6">
                	<img src="img/media_06.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>the lorem</h6>
                  23 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp">
              	<a href="#" data-toggle="modal" data-target="#gal_pop7">
                	<img src="img/media_07.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>on red carpet</h6>
                  49 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp">
              	<a href="#" data-toggle="modal" data-target="#gal_pop8">
                	<img src="img/media_08.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>during live concert</h6>
                  32 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
           <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp"> 
              	<a href="#" data-toggle="modal" data-target="#gal_pop9">
                	<img src="img/media_09.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>fashion show in dublin</h6>
                  70 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp"> 
              	<a href="#" data-toggle="modal" data-target="#gal_pop10">
                	<img src="img/media_10.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>the Lorem</h6>
                  23 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp">
              	<a href="#" data-toggle="modal" data-target="#gal_pop11">
                	<img src="img/media_11.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>party with friends</h6>
                  49 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item-->
            
            <div class="col-xs-12 col-sm-4 col-md-3 animatedParent">
              <figure class="animated fadeInUp">
              	<a href="#" data-toggle="modal" data-target="#gal_pop12">
                	<img src="img/media_12.jpg" alt="" />
                </a><!--hyperlink-->
                <figcaption>
                  <h6>during live concert</h6>
                  32 photos </figcaption>
              </figure>
              <!--figure--> 
            </div>
            <!--Column / media item--> 
            
          </div>
        </div>
        <!--container--> 
      </section>
      <!--//media_section--> 
         <!--======================================
    Parallax/event_promo Section
    ==========================================-->
    <section id="section_8" class="parallax parallax_three event_promo" data-stellar-background-ratio="0.5">
      <div class="parallax_inner">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 animatedParent ">
              <h1 class="animated fadeInDown">performing live!</h1>
              <h3 class="animated bounceInRight">stars tour de paris</h3>
              <h5  class="animated bounceInUp">november 5th 2013</h5>
              <a href="#" class="btn">book tickets now</a> </div>
            <!--column--> 
          </div>
          <!--row--> 
        </div>
        <!--container--> 
      </div>
      <!--parallax_inner--> 
    </section>